@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  src: local('Futura Bold'), local('Futura-Bol'), url(https://fonts.gstatic.com/l/font?kit=-W_8XJn5VyXFzgiC2_8IaWMr&skey=d46fe7911eaea679&v=v9) format('truetype');
}

/* Roboto Font - Body Text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
